include ./mixins/textfield
include ./mixins/submit
include ./mixins/card
include ./mixins/info
include ./mixins/numberfield
include ./mixins/stickyCard
include ./mixins/unstickyCard

doctype html
html
  head
    block vars
    title #{title}
    include include/head
  body
    include include/header

    include include/scripts
