extends layout
include mixins/card

block vars
  - var title='📓🐊 - Login'

block content
  .aa-login-page
    .mdl-card.aa-card-login.mdl-card--border.mdl-shadow--4dp
      .mdl-card__title
        h2.mdl-card__title-text= __('login.cardTitle')
      form(method='post', action=('/login'))
        .mdl-card__supporting-text
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type='email', id='email', name='email')
            label.mdl-textfield__label(for='email')= __('login.email')
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type='password', id='password', name='password')
            label.mdl-textfield__label(for='password')= __('login.password')
        .mdl-card__actions.mdl-card--border
            input(type='submit', value=__('login.actionLogin')).mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
