h1 Signup
  form(method='POST', action='/user')
    p mail
    input(type='email' name='email')
    p password
    input(type='password', name='password')
    p username
    input(type='string', name='username')
    input(type='submit', value='submit')
