mixin info(text, button, icon)
  .aa-card-info.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      h4= text
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect= button
      .mdl-layout-spacer
      i.material-icons= icon
