mixin textfield(name, text)
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input(type='string', id=name, name=name)
              label.mdl-textfield__label(for=name)= text
